{% extends "base.html" %}

{% block title %}Detalles de Producto{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="main.html">Home</a></li>
  <li><a href="{% url 'products:search' %}">Productos</a></li>
  <li class="active">Ver producto</li>
</ol>
<div class="well well-lg">
	<div class="btn-group">
		<button class="btn btn-primary" type="button"><i class="fa fa-edit"></i> Editar Producto</button>
		<button class="btn btn-primary" type="button"><i class="fa fa-print"></i> Imprimir</button>
		<button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i> Eliminar Producto</button>
	</div>
	<div class="btn-group">
		<a href="{% url 'products:newprice' product.0.code %}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar Precio</a>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Información del Producto</h3>
				</div>
				<div class="panel-body">
					<strong>{{product.0.name.name}}</strong><br>
					<table class="table table-responsive table-user-information">
						<tr>
							<td>Descripción:</td>
							<td>{{product.1}}</td>
						</tr>
						<tr>
							<td>Ranking:</td>
							<td>{{product.0.ranking}}</td>
						</tr>
						<tr>
							<td>Código:</td>
							<td>{{product.0.code}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Precios</h3>
				</div>
				<div class="panel-body">
					{% if prices %}
					<table class="table table-responsive table-user-information">
						<thead>
						<tr>
							<td><strong>Cantidad</strong></td>
							<td><strong>Unidad</strong></td>
							<td><strong>Acta. Mín</strong></td>
							<td><strong>Precio</strong></td>
						</tr>
						</thead>
						<tbody>
						{% for price in prices %}
						<tr>
							<td>{{price.quantity}}</td>
							<td>{{price.unit.name}}</td>
							<td>S/. {{price.min_initial_payment}}</td>
							<td>S/. {{price.price}}</td>
							<td><a id="a_edit_{{price.pk}}" class="btn btn-xs btn-primary a_edit" href
								="{% url 'products:editprice' product.0.code price.pk %}"><i class="fa fa-pencil"></i></a> <a id="a_delete_{{price.pk}}" class="btn btn-xs btn-danger a_delete" href="#"><i class="fa fa-trash-o"></i></a></td>
						</tr>
						{% endfor %}
					</table>
					{% else %}
					<p><em>No existe ningún precio asignado.</em></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}