{% extends "base.html" %}

{% block title %}Detalles de Producto{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="main.html">Home</a></li>
  <li><a href="{% url 'products:search' %}">Productos</a></li>
  <li><a href="javascript:history.back()">{{product.name.name}}</a></li>
  <li class="active">Agregar Precio</li>
</ol>
<h2>Nuevo Precio</h2>
<h4>{{product.name.name}}</h4>
<h5>{{description}}</h5>
<hr/>
{% if form_price.errors %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Algunos errores han ocurrido!</strong> El precio del producto no puede ser menor al precio del acuenta, o ya existe un precio con las mismas características para el producto.
</div>
{% endif %}
<form class="form-horizontal" role="form" method="POST"> {% csrf_token %}
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">Cantidad</label>
	<div class="col-sm-1">
	  {{ form_price.quantity }}
	</div>
  </div>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">Unidad</label>
	<div class="col-sm-2">
	  {{ form_price.unit }}
	</div>
  </div>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">Precio S/.</label>
	<div class="col-sm-2">
		<div class="input-group">
			{{ form_price.price }}
			<span class="input-group-addon">.00</span>
		</div>
	</div>
  </div>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">A cuenta Mínimo S/.</label>
	<div class="col-sm-2">
	 	<div class="input-group">
			{{ form_price.min_initial_payment }}
			<span class="input-group-addon">.00</span>
		</div>
	</div>
  </div>		  
  <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <button type="submit" class="btn btn-primary">Guardar</button>
	  <button type="reset" class="btn btn-warning">Limpiar</button>
	</div>
  </div>
</form>
{% endblock %}