{% extends "base.html" %}

{% block title %}Nuevo Producto{% endblock %}

{% block content %}
<script type="text/javascript">
$(function(){
	var url_remote = '{% url "products:ajaxvalues" %}' + '?attr=';
	function create_typeahead(input_id){
		var dom_object = '<div class="form-group"> <label class="col-sm-2 control-label">'+ input_id + '</label> <div class="col-sm-3"> <input class="typeahead form-control" name="' + input_id + '" id="' + input_id + '" placeholder="Num. Copias" /> </div> </div>'
		$('#attributes').append(dom_object);
		$('input.typeahead#' + input_id ).typeahead({
			name: input_id,
			remote: url_remote + input_id
		});
	}
	function get_attributes(){
		var product_type = $('#select_type_product option:selected').text();
		$.ajax("{% url 'products:ajaxattributes' %}", {
			type: 'get',
			dataType: 'json',
			data: {'product_type': product_type},
			success: function (res) {
				$('#attributes').empty();
				res.forEach(function(i){
					create_typeahead(i);
				});
			}
		});
	}
	get_attributes();
	$('#select_type_product').bind('change', function(){get_attributes();});
});
</script>

<ol class="breadcrumb">
  <li><a href="main.html">Home</a></li>
  <li><a href="javascript:history.back()">Productos</a></li>
  <li class="active">Agregar</li>
</ol>
<h2>Nuevo Producto</h2>
<hr/>
<form class="form-horizontal" action="{% url 'products:new' %}" method="post"> {% csrf_token %}
  <div class="form-group">
	<label class="col-sm-2 control-label">Nombre</label>
	<div class="col-sm-5">
	  {{form_product.name}}
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label">Tipo</label>
	<div class="col-sm-3">
	  {{form_product.type_product}}
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label">Codigo</label>
	<div class="col-sm-2">
	  {{form_product.code}}
	</div>
  </div>
<hr />
  <div id="attributes"></div>
  <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <button type="submit" class="btn btn-primary">Guardar</button>
	  <button type="reset" class="btn btn-warning">Limpiar</button>
	</div>
  </div>
</form>
{% endblock %}