{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="main.html">Home</a></li>
	<li class="active">Productos</li>
</ol>
<div> <a href="{% url 'products:new' %}" class="btn btn-primary">+ Nuevo Producto</a></div>
<hr />
<div> 
<form class="form-inline" role="form" method="POST"> {% csrf_token %}
	<div class="form-group col-sm-3">
		{{form.name}}
	</div>
	<div class="form-group col-sm-6">
		{{form.description}}
	</div>
	<button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Buscar</button>
</form>
<br>
</div>
<div class="panel panel-success">
	<!-- Default panel contents -->
	<div class="panel-heading">
		{% if fieldsearch %}
		Mostrando los resultados de <em><strong>{{fieldsearch}}</strong></em>.
		{% else %}
		Mostrando los <strong> 20 mejores resultados</strong>.
		{% endif %}
	</div>		
		<div class="panel-body">
		  {% if data|length > 0 %}
		  <p><em>{{data|length}} resultado(s).</em></p>
		  <table class="table table-hover">
			<thead>
			  <tr>
				<th width="5%">Código</th>
				<th width="20%">Nombre</th>
				<th>Descripción</th>
			  </tr>
			</thead>
			<tbody>
			  {% for elem in data%}
			  <tr>
				<td><a href="{% url 'products:detail' elem.0.code %}">{{elem.0.code}}</a></td>
				<td>{{elem.0.name.name}}</td>
				<td>{{elem.1}}</td>
			  </tr>
			  {% endfor %}			  
			</tbody>
		  </table>
		  {% else %}
		  <p><em>No se encontrarón resultados.</em></p>
		  {% endif %}
	  </div>
	</div>
</div>
{% endblock %}