{% extends "base.html" %}

{% block title %}Todos los clientes{% endblock %}

{% block content %}
<script type="text/javascript">
$(function(){
	function load_clients (id_table, ajax_source){
		var oTable = $(id_table).dataTable({
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": ajax_source,
			"sServerMethod": "GET",
			"aoColumns": [
			{ "sWidth": "10%" },
			{ "sWidth": "60%" },
			{ "sWidth": "10%", "sClass": "center", "bSortable": false }, 
			{ "sWidth": "20%", "sClass": "center", "bSortable": false },
			],
			"fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
				$(nRow).click(function(){
					click_fn(nRow, aData, iDisplayIndex, iDisplayIndexFull);
				});
			}
		});
		$(id_table + ' tbody tr').bind('click', function(){
			alert( 'jaja')
		});
		// function clickRowHandler() {
		// 	$('#sku_tbl tbody tr').bind('click', function () {
		// 		var aData = oTable.fnGetData( this );
		// 		var iId = aData[0];
		// 		alert ("jojo");
		// 	});
		// }
	}
	load_clients ( '#clients-table', "{% url 'clients:jsonlist' %}" );
});

</script>

<ol class="breadcrumb">
  <li><a href="main.html">Home</a></li>
  <li class="active">Clientes</li>
</ol>
<div>
	<a href="{% url 'clients:new' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo Cliente</a>
</div>
<hr />
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Todos los clientes</div>
		<div class="panel-body">
			<p> <em>Incluir data tables y darle el mismo estilo</em></p>
			  <table id="clients-table" class="table table-hover table-condensed">
				<thead>
					<tr>						
						<th>RUC</th>
						<th>Razon Social</th>
						<th>Teléfono</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody> </tbody>
			  </table>
	  </div>
	</div>
</div>
{% endblock %}