{% extends "base.html" %}

{% block title %}Detalles de Cliente{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="main.html">Home</a></li>
  <li><a href="{% url 'clients:all' %}">Clientes</a></li>
  <li class="active">Ver perfil</li>
</ol>
<div class="well well-lg">
	<div class="btn-group">
		<button class="btn btn-primary" type="button" data-toggle="tooltip" data-original-title="Send message to user"><i class="fa fa-list-alt"></i> Ventas del Cliente</button>
		<a href="{% url 'clients:edit' client.ruc  %}" class="btn btn-primary" type="button" data-toggle="tooltip" data-original-title="Edit this user"><i class="fa fa-edit"></i> Editar Cliente</a>
		<button class="btn btn-primary" type="button" data-toggle="tooltip" data-original-title="Edit this user"><i class="fa fa-print"></i> Imprimir</button>
		<button class="btn btn-danger" type="button" data-toggle="tooltip" data-original-title="Remove this user"><i class="fa fa-trash-o"></i> Eliminar Cliente</button>
	</div>
	<hr/>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Información del Cliente</h3>
		</div>
		<div class="panel-body">
			<strong>{{ client.razon_social }}</strong><br>
			<table class="table table-responsive table-user-information">
				<thead>
				<tr>
					<td style="width:200px">RUC:</td>
					<td>{{client.ruc}}</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Dirección:</td>
					<td>{{ client.domicile.address }} - {{ client.domicile.district }} - {{ client.domicile.province }} - {{ client.domicile.department }}</td>
				</tr>
				<tr>
					<td>Teléfono:</td>
					<td>{{ client.telephone }}</td>
				</tr>
				<tr>
					<td>Emails</td>
					<td>{{ client.email }}</td>
				</tr>
				</tbody>
			</table>
		</div>					
	</div>
</div>
{% endblock %}