{% extends "base.html" %}

{% block title %}Add a Client{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="main.html">Home</a></li>
  <li><a href="{% url 'clients:all' %}">Clientes</a></li>
  <li class="active">Agregar</li>
</ol>

<script type="text/javascript">
	$(function(){
		var change_provinces = function(new_provinces){
			$('#select_province').empty();
			for (var i = 0; i < new_provinces.length; ++i)
				$('#select_province').append("<option>"+new_provinces[i]+"</option>")
		};
		var change_districts = function(new_districts){
			$('#select_district').empty();
			for (var i = 0; i < new_districts.length; ++i)
				$('#select_district').append("<option>"+new_districts[i]+"</option>")
		};
		var null_select = "----------";
		
		$('#select_department').bind('change', function(){
			var opt_val = $('#select_department').val();
			if (opt_val == null_select) return false;
			$.ajax("{% url 'clients:getprovinces' %}", {
				type: 'get',
				dataType: 'json',
				data: {'department': opt_val},
				success: function (res) { change_provinces(res.response.provinces); }
			});
		});
		$('#select_province').bind('change', function(){
			var opt_val = $('#select_province').val();
			if (opt_val == null_select) return false;
			var department = $('#select_department').val();
			$.ajax("{% url 'clients:getdistricts' %}", {
				type: 'get',
				dataType: 'json',
				data: {'province': opt_val, 'department':department},
				success: function (res) { change_districts(res.response.districts); }
			});
		});
	});
</script>

<h2>Nuevo Cliente</h2>
<hr/>
{{ form_client.errors }}
{{ form_domicile.errors }}
<form class="form-horizontal" role="form" method="POST"> {% csrf_token %}
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">RUC</label>
	<div class="col-sm-3">
		{{ form_client.ruc }}
		<span class="text-danger"> {{ form_client.ruc.errors }} </span>
	</div>

  </div>
  <div class="form-group">
	<label for="inputPassword3" class="col-sm-2 control-label">Razón Social</label>
	<div class="col-sm-10">
		{{ form_client.razon_social }}
		<span class="text-danger"> {{ form_client.razon_social.errors }} </span>
	</div>
  </div>
  <hr />
  <h3>Domicilio</h3>
  <div class="form-group">
	<label class="col-sm-2 control-label">Domicilio</label>
	<div class="col-sm-10">
		{{ form_domicile.address }}
		<span class="text-danger"> {{ form_domicile.address.errors }} </span>
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label">Dist / Prov / Dept</label>
	<div class="col-sm-3">
		<select id="select_department" class="form-control" name="department">		  	
		{% for department in departments %}
	  		{% if form_domicile.department.value == department %} <option selected>{{ department }}</option>
			{% else %}<option>{{ department }}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
	<div class="col-sm-3">
		<select id="select_province" class="form-control" name="province">
		{% for province in provinces %}
			{% if form_domicile.province.value == province %} <option selected>{{ province }}</option>
			{% else %}<option>{{ province }}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
	<div class="col-sm-3">
		<select id="select_district" class="form-control" name="district">
		{% for district in districts %}
			{% if form_domicile.district.value == district %} <option selected>{{ district }}</option>
			{% else %}<option>{{ district }}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
  </div>
  <div class="form-group">
	<label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
	<div class="col-sm-3">
	  	{{ form_client.telephone }}
		<span class="text-danger"> {{ form_client.telephone.errors }} </span>
	</div>
	<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-5">
	  	{{ form_client.email }}
		<span class="text-danger"> {{ form_client.telephone.errors }} </span>
	</div>
  </div>
  <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <button type="submit" class="btn btn-primary">Guardar</button>
	  <button type="reset" class="btn btn-warning">Limpiar</button>
	</div>
  </div>
</form>
{% endblock %}