<!doctype html>
<html lang="en">
<head>
	{% load compress %}
	<meta charset="UTF-8">
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/DT_bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/personalized-main.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead.css" />
	{% endcompress %}
	<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	<script src="{{ STATIC_URL }}js/DT_bootstrap.js"></script>
	<script src="{{ STATIC_URL }}js/typeahead.min.js"></script>
	<title>{% block title %}{% endblock %}</title>
	{% pageurl 'adsasdasd' %}
</head>
  <body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">TinyERP</a>
		</div>
		<div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">		  	
			<li><a href="orders.html">Órdenes de Trabajo</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas<b class="caret"></b></a>
			  <ul class="dropdown-menu">
			  	<li class="dropdown-header">Ventas</li>
				<li><a href="quotations.html">Presupuestos</a></li>
				<li><a href="invoices.html">Facturas</a></li>
			  </ul>
			</li>	
			<li><a href="{% url 'clients:all' %}">Clientes</a></li>
			<li><a href="{% url 'products:search' %}">Productos</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="options.html">Opciones</a></li>
		  </ul>
		</div><!--/.nav-collapse -->
	  </div>
	</div>
	<div class="container">
		{% block content %}
		<ol class="breadcrumb">
		  <li>Home</li>
		</ol>
		{% endblock %}
	</div> <!-- /container -->
  </body>
</html>